* {
    box-sizing: border-box;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

h1, .menu{
	margin-top: 0;
	margin-bottom:0;
}

.logo{
	padding-right: 150px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.logo, a{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-decoration: none;
	list-style: none;
	float: left;
	padding-left: 25px;
	padding-right: 110px;

}

.menu{
	padding-top: 5px;
}

li{
	display: inline;
}


li a{
	color: #f9e42e;
	text-decoration: none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding-left: 40px;
	padding-right: 20px;

}

.container{
	background-color: #033048;
	columns: #fff;
	padding: 20px 0px 20px 0px;
}

body{
	background-color: #f0efef;
	width: 60em;
	margin: 0 auto;
}


.main{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 600;
	width: 700px;
	color: #033048;
}
.title a{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #033048;
	padding-left: 0;
}


.left-side{
	float: left;
	clear: both;
	width: 700px;
	margin-left: 0px;

}
.image1{
	background-image: url("blog_photo1.jpg");
	height: 300px;
	clear: both;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #033048;
	padding-bottom: 20px;
}



.more-link a{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #033048;
	float: right;
	padding-right: 0;
	clear: both;
	
}

.divider{
	padding-top: 70px;
	margin-bottom: 15px;
	border-bottom: 1px solid #033048;

}

.image2{
	background-image: url("blog_photo2.jpg");
	height: 280px;
	clear: both;
	
}


.right-side{
	
	margin-right: 0;
	list-style: none;
}

.sidebar{
	width: 200px;
	
	margin:0;
	text-decoration: none;
	display: inline-block;
	list-style: none;
	font-family: 'Open Sans', sans-serif; ;
	font-size:32px;
	font-weight:800;
	margin-top: 50px;
}

.about-side{
	width: 200px;
	

	text-decoration: none;
	display: inline-block;
	list-style: none;
	font-family: 'Open Sans', sans-serif; ;
	font-size:32px;
	font-weight:800;
	margin-top: 50px;
	padding-left: 40px;
	margin-bottom: 0;
	padding-bottom: 0;

}
.about-side p{
	padding-bottom: 0;
	margin-bottom: 0;
}
#learn{
	font-family: 'Open Sans', sans-serif; ;
	font-size:22px;
	font-weight:600;
	padding-left: 0px;
}


.rside{
	display: inline-block;
	list-style: none;
	font-family: 'Open Sans', sans-serif; ;
	font-size:22px;
	font-weight:300;
	color: #033048;
	padding-left: 0;
	padding-right: 0;
}

#image3{
	background-image: url("ad-unit.png");
	background-position: center center;
	height: 546px;
	margin-top: 20px;
}

.signup{
	background-color: #f9e42e;
	height: 100px;
	clear: both;
	padding-top: 20px;
}
.signupnow-Btn{
	font-size: 20px;
	font-weight: bolder;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	background-color: #033048;
	border-radius: 5px;
	padding: 10px;
	width: 35%;
	height: 50px;
	text-align: center;
	clear: both;
	margin: 0% 0% 0% 34%;

	}

.signupnow-Btn, a{
	text-align: center;
	padding-left: 40px;
	padding-right: 25px;
}

#fBTM{
	color: #f9e42e;
	background-color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	height: 50px;
	text-align: center;
	margin: 0;
	}



#cpy{
	padding-top: 20px;
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	font-weight: 600;
	margin-top: 30px;
	}



.socialMedia{
	display: inline-block;
	padding: 10px
	}



.twitter{
	padding-right: 60px;
}



.facebook{
	padding-left: 10px;
}


.bottomPage{
	background-color: #000;
	color: #fff;
	margin:0 auto;
}

.socialMedia{
	margin-left: 37%;


}
#cpy{
	text-align: center;
	color: #fff;
}


